<header>
  <div class="nav">
    <img src="/img/logo.png" width="30px" alt="SocialApp">
    <a href="/">
      <h1 class="headerTitle">Social App</h1>
    </a>
      {{#if user}}
      <a href="/user/logout" class="btnLogout">Sair</a>
      {{else}}
      {{/if}}
  </div>
</header>