<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.90">
    <title>Social App</title>
</head>
<body>
    {{>_navbar}}

    {{#if error}}
        <div class="msg error">{{error}}</div>
    {{else}}
    {{/if}}

    {{>_msg}}
    {{{body}}}
</body>
    <script src="/js/script.js"></script>
</html>
