<div class="container">
    <form class="formRegister" action="/user/login" method="post">
        <h2>Login</h2>
        <div class="inputs">
            <input type="text" name="email" placeholder="Digite seu Email.">
        </div>
        <div class="inputs">
            <input type="password" name="password" placeholder="Digite sua senha.">
        </div>

        <div class="btnCad">
            <button type="submit" class="btnCadastrar">Login</button>
        </div>
    </form>
    <div class="line">
        <hr>
    </div>
    <div class="register">
        <a href="/user/register">Cadastre-se</a>
    </div>
</div>